<div class="csvdownloadbutton-wrapper">
  <button class="download-button" type="button" mat-raised-button color="primary" (click)="fileImportInput.click()">Choose CSV File</button>
  <input hidden type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
         accept=".csv" />

  <mat-form-field appearance="fill" class="headers-selector">
    <mat-label>Parse Headers?</mat-label>
    <mat-select aria-placeholder="Parse headers?" [(ngModel)]="header">
      <mat-option [value]="true">Yes</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>
</div>

